@{
    ViewData["Title"] = "Home Page";
}

    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />
        <input type="radio" name="slides" id="slides_4" />
        <ul>
            <li>
                <div id="bg">
                    <div class="banner-info-wthree">
                        <div class="container">
                            <h3>24*7 Services Provided For Customers</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div id="bg1">
                    <div class="banner-info-wthree">
                        <div class="container">
                            <h3> Transport Your Cargo Everywhere</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div id="bg2">
                    <div class="banner-info-wthree">
                        <div class="container">
                            <h3>Propel yourself into the future.</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div id="bg3">
                    <div class="banner-info-wthree">
                        <div class="container">
                            <h3>Premium Worldwide Logistics Network</h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
        </div>
    </div>
